@import url("http://fonts.googleapis.com/css?family=Open+Sans");
html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 6px;
}
.Block {
  margin-bottom: 6px;
  padding: 6px;
  border: 1px solid #000;
}
.Header {
  font-size: 12px;
  padding: 6px 0;
}
.Leaves {
  background: #ffa500;
}
.Rose {
  background: #ff6347;
}
.Song {
  background: #00ff7f;
}
.Breeze {
  background: #9370db;
}
.Leaflet {
  flex-grow: 1;
}
