{% load staticfiles %}

<!doctype html>
<html lang="en" ng-app="stream" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>stream</title>

    <meta name="description" content="stream gage mapping">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"> -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
    <link rel="stylesheet" href="{% static 'visualizer/css/app.css' %}">

  </head>
  <body ng-controller="mainController">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header class="page-header">

            <i class="fa fa-globe"></i><span> STREAM</span><span class="version"> version 0.0.1 (a)</span>

          </header>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">

              <leaflet class="Leaflet" stations="stations"></leaflet>

            </div>
        </div>
        <div class="col-md-4" ng-hide="!station">
          <div class="panel panel-default">
            <div class="panel-heading">

              <h3 class="panel-title">Details for (( station.name ))</h3>

            </div>
            <div class="panel-body">
              <ul class="list-unstyled">

                <li>latitude: (( station.latitude ))</li>
                <li>longitude: (( station.longitude ))</li>

              <ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

    <script src="{% static 'visualizer/javascript/app.js' %}"></script>
  </body>
</html>
